:root {
    --color1: #5D3891;
    --color2: #F99417;
    --color3: #E8E2E2;
    --color4: #F5F5F5;
}

.body{
    background-image: url("../bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #FBF1D3;
}


.container {
    
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 88vh;
}

.form {
    z-index: 2;
    /* padding: auto;
      margin: auto; */
    /* background-color: rgba(200, 200, 200, 0.5); */
    box-shadow: inset;
    height: 400px;
    width: 400px;
    background-color: white;
    /* padding: 20px; */
    flex-direction: column;
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
}

.header-form {
    border-radius: 30px 30px 0px 0;
    height: auto;
    /* border-width: 1px ; */
    /* border-style: groove; */
    /* border-color: var(--color1); */
    background-color: var(--color1);
    padding: 30px;
}

.header-form>h2 {
    color: var(--color3);
}

.input-data {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    font-size: 10pt;
}

.item-form {
    margin: 20px 0;
}

.input-data>form>div>* {
    /* margin: 10px 5px; */
    color: black;
}

.line {
    background-color: var(--color2);
    height: 2vh;
}

.header {
    background-color: var(--color1);
    height: 10vh;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.item-form.row {
    justify-content: space-between;
    align-items: center;
}

.item-form>* {
    height: 40px;
}

.item-form>input {
    width: 200px;
    padding-left: 20px;
}

.chart {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#chart {
    border-radius: 30px;
    width: 500px;
    height: 400px;
}

#btn-submit {
    background-color: var(--color2);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.form-input {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
}

.dataframe {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.dataframe thead tr {
    background-color: var(--color1);
    color: #ffffff;
    text-align: left;
}

.dataframe th,
.dataframe td {
    color: black;
    padding: 12px 15px;
}

.dataframe>thead th {
    text-align: center;
    color: var(--color4);
}

.dataframe tbody tr {
    border-bottom: 1px solid #dddddd;
}

.dataframe tbody tr:nth-of-type(even) {
    background-color: var(--color3);
}

.dataframe tbody tr:last-of-type {
    border-bottom: 2px solid var(--color1);
}

.dataframe tbody tr.active-row {
    font-weight: bold;
    color: var(--color2);
}

.collapsible {
    background-color: var(--color1);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: var(--color1);
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

#btn-submit {
    cursor: pointer;
}